
header {
  background-color: #FDFDFD;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(86, 86, 86);
  color: rgba(255,255,255,.9);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

nav .buttons button {
  min-width: 115px;
}

canvas {
  width: 100%;
}

video {
  width: 100%;
}

.main-container {
  margin-bottom: 20px;
}

.main-container .screenshot-detection,
.main-container .video-detection {
  display: none;
}

.main-container.screenshot .screenshot-detection {
  display: block;
}

.main-container.screenshot .video-detection {
  display: none;
}

.main-container.video .video-detection {
  display: block;
}

.main-container.video .screenshot-detection {
  display: none;
}

.video-container {
  position: relative;
}

.voice-paragraph {
  padding: 0 10px;
}

.video-container .face-container {
  position: absolute;
  visibility: hidden;
  border: 1px solid blue;
  background-image: url(/images/glasses.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.screenshot-detection {
  text-align: center;
  margin: 10px 0;
}
.camera-button {
  text-align: center;
  margin: 10px 0;
}

.title-container {
  margin-top: 10px;
  padding: 0 10px;
}

.title-container h2 {
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .main-container {
    width: 60%;
    margin: 0 auto;
  }
}
